<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781153742595-mhgk1agrkas81d02tlncvv4biq1v9rte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781153742595-mhgk1agrkas81d02tlncvv4biq1v9rte</string>
	<key>API_KEY</key>
	<string>AIzaSyB1TY2TMBeZJWc-mLeSpPgNtY3m0nBNQ5s</string>
	<key>GCM_SENDER_ID</key>
	<string>781153742595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-745cc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-745cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781153742595:ios:dbd726875d00a8e7f34336</string>
</dict>
</plist>